version: '3'

services:
  baileys:
    image: registry.yudhadhstr.my.id/baileys
    networks:
      - traefik-public
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 20s
        max_attempts: 3
        window: 120s
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.routers.whatsapp-http.rule=Host(`${DOMAIN_API?Variable not set}`)
        - traefik.http.routers.whatsapp-http.entrypoints=http
        - traefik.http.routers.whatsapp-http.middlewares=https-redirect
        - traefik.http.routers.whatsapp-https.rule=Host(`${DOMAIN_API?Variable not set}`)
        - traefik.http.routers.whatsapp-https.entrypoints=https
        - traefik.http.routers.whatsapp-https.tls=true
        - traefik.http.routers.whatsapp-https.tls.certresolver=production
        - traefik.http.services.whatsapp.loadbalancer.server.port=8111

networks:
  traefik-public:
    external: true